.container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 1rem auto;
}

.container::-webkit-scrollbar {
  display: none;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 0.3rem;
    width: 100%;
}

.header1{
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #18181B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.7rem;
}


.button{
    all: unset;
    display: flex;
    cursor: pointer;
}

.btnContainer {
    margin: 1rem 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
  }

.skills {
        display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    gap: 1rem;
}