.navigationTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 24px;
    padding: 24px 0;
    max-width: 264px;
    width: 232px;
    max-height: 276px;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #F4F4F5;
    border-radius: 16px;
    list-style-type: none;  
}

.navigationLink{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 12px 24px;
    border-left: 5px solid #FAFAFA;
}

.navigationLink:hover{
    border-left: 5px solid #000;
    color: #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 700;
}

.active {
    border-left: 5px solid #000;
    color: #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 700;
}