
.container{
    margin-top:1rem;
}
.statsContainer{
    margin-top:1rem;
    width: 100%;
    height: auto;
    background: #FAFAFA;
    border: 1px solid #F4F4F5;
    border-radius: 12px;
    padding: 1rem 0.5rem;

}

.colFlex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: col;
    column-gap: 1rem;
}

.lightFont {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #71717A;
}

.boldFont {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #18181B;
}
.statsFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

