.container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 1rem;
  }

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}
  
  
  .title2{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #18181B;
    
  }
  
  .desc2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #71717A;
  }

.container2 {
    
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 0 10px;
}

.slider {
    position:absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display:none;}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider { 
    background-color: #4F46E5
}

input:checked + .slider::before { 
    transform: translateX(40px);
}

