.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2rem;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 0.3rem;
    width: 100%;
}

.header1{
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #18181B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.7rem;
}


.button{
    all: unset;
    display: flex;
    cursor: pointer;
}

.header2{
    width: 20%;
    /* text-decoration: underline; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #71717A;
}


.lightfont {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #71717A;
}