.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 20px;
    width: 303.5px;
    height: auto;
    background: #FAFAFA;
    border: 2px solid #F4F4F5;
    border-radius: 8px;
    cursor: pointer;
}

.container1 {
    width: 271.5px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.4rem;


}
.selected{
    background: #EEF2FF;
    border: 2px solid #4F46E5;
}

.badgesConatiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
}

.container2{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
}

.container3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.7rem;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #71717A;
}

.dot{
    font-size: 1rem;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #18181B;
}

.logo img {
    width: 35px;
    height: 40px
}

.lightfont{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #71717A;

}

.profiles {
    width: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    column-gap: 0.3rem
}

.profileContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.7rem;
}