
.container{
    width: 100%;
    margin-top: 3rem;
}
.statsContainer{
    margin-top:1rem;
    width: 100%;
    height: auto;
    background: #FAFAFA;
    border: 1px solid #F4F4F5;
    border-radius: 12px;
    padding: 1rem 0.5rem;

}
.rowFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.colFlex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: col;
    column-gap: 1rem;
}

.lightFont {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #71717A;
}

.boldFont {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #18181B;
}
.statsFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.colFlexBtw {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.aboutMe{
    width: 100%;
    height: auto;
    background: #FAFAFA;
    border: 1px solid #F4F4F5;
    border-radius: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #18181B;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
}

.header1{
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #18181B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.7rem;
}

.skills{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    gap: 1rem;
}
