.container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content:space-between;
    align-items: flex-start;
    padding: 1rem 3rem 1rem 3rem;
    height: 90vh;
    column-gap: 5rem;
}

.navigationTabContainer{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}
.navigationBarContainer{
  display: none;
  width: 100%;
}


.socialContainer {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap:1rem;
  row-gap: 0rem;
  margin: 16px 0;
  height: 94%;
  overflow-y: auto;


}

.socialContainer::-webkit-scrollbar {
  display: none;
}
.btnContainer {
    margin: 1rem 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
  }


  @media screen and (max-width: 768px) {
    .navigationBarContainer{
      display: block;
      width: 100%;
    }
    
    .navigationTabContainer{
      display: none;  
    }
  
    .container {
      padding: 1rem 12px;
    }
  
    
  }